<div class="container-fluid bg-light mb-5" style="padding-left:0px;padding-right:0px;">
  <ngb-carousel *ngIf="images" >
    <ng-template ngbSlide>
      <img [src]="images[0]" alt="Random first slide" style="width:100%;">
      
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[1]" alt="Random second slide" style="width:100%;">
      
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[2]" alt="Random third slide" style="width:100%;">
      
    </ng-template>
  </ngb-carousel>
</div>

<div class="jumbotron bg-light">

  <div class="shadow p-3  bg-white rounded">
    <img src="/assets/banner/banner.jpg" style="max-width: 100%;" alt="" class="mx-auto d-block shadow-lg rounded">
  </div>

  <h3 class="text-center mt-5 text-secondary" style="font-weight:bolder;">
    IN THE SPOOT LIGHT
  </h3>
  <div class="container">
      <div class="row">
          <div class="col-md-4 col-sm-6  bg-light p-0 " >
              <div class="of-box m-4" >
                  <img src="/assets/offer/of1.jpg" alt="iimage" style="height:300px;" class="of-image">
                  <div class="overlay shadow text-muted" style="font-weight:bolder;">
                    <h4><b class="text-danger">40% off</b></h4>
                    <small>on new Product for happy holi</small>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6  bg-light p-0 " >
              <div class="of-box m-4" >
                  <img src="/assets/offer/of1.jpg" alt="iimage" style="height:300px;" class="of-image">
                  <div class="overlay shadow text-muted" style="font-weight:bolder;">
                    <h4><b class="text-danger">40% off</b></h4>
                    <small>on new Product for happy holi</small>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6  bg-light p-0 " >
              <div class="of-box m-4" >
                  <img src="/assets/offer/of1.jpg" alt="iimage" style="height:300px;" class="of-image">
                  <div class="overlay shadow text-muted" style="font-weight:bolder;">
                    <h4><b class="text-danger">40% off</b></h4>
                    <small>on new Product for happy holi</small>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6  bg-light p-0 " >
              <div class="of-box m-4" >
                  <img src="/assets/offer/of1.jpg" alt="iimage" style="height:300px;" class="of-image">
                  <div class="overlay shadow text-muted" style="font-weight:bolder;">
                    <h4><b class="text-danger">40% off</b></h4>
                    <small>on new Product for happy holi</small>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6  bg-light p-0 " >
              <div class="of-box m-4" >
                  <img src="/assets/offer/of1.jpg" alt="iimage" style="height:300px;" class="of-image">
                  <div class="overlay shadow text-muted" style="font-weight:bolder;">
                    <h4><b class="text-danger">40% off</b></h4>
                    <small>on new Product for happy holi</small>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6  bg-light p-0 " >
              <div class="of-box m-4" >
                  <img src="/assets/offer/of1.jpg" alt="iimage" style="height:300px;" class="of-image">
                  <div class="overlay shadow text-muted" style="font-weight:bolder;">
                    <h4><b class="text-danger">40% off</b></h4>
                    <small>on new Product for happy holi</small>
                  </div>
              </div>
          </div>
          

          


          
          
            

          
      </div>
  </div>
</div>
